/* Make yellow line longer */

.comments-container #disqus_thread:before,
.entry+.home-sections-container,
.home-sections:before,
.entry-nav:before,
.footer:before,
.header:after,
.prev-entry~.next-entry:before {
    width: 15em;
}

/* Make site wider */

.comments-container #disqus_thread,
.entry-content,
.entry-cover,
.entry-cover figcaption,
.entry-footer,
.entry-nav,
.entry-toc,
.footer,
.header,
.list-header,
.home-sections,
.list,
.pagination,
.term-cloud {
    max-width: 800px;
}

.img-circle {
    border-radius: 50%;
    width: 235px;
}

.left {
    float: left;
    margin-right: 20px;
}

.right {
    float: right;
}